<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new students</title>
</head>
<body>
    <h1>Students</h1>
    <h2>Enter your data here</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6,  offset-md-3" >
                <div class="card">
                    <div class="card-body">
                        <form action ="/add_students" method="POST">
                            {% csrf_token %}
                            <div><label for="firstname"> First Name</label>
                                <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Enter your first name">
                            </div>
                            <div>
                                <label for="lastname"> Last Name</label>
                                <input type="text" id="lastname" class="form-control" name="lastname" placeholder="Enter your last name">
                            </div>
                            <div>
                                <label for="student_id"> student_id</label>
                                <input type="text" id="student_id" class="form-control" name="student_id" placeholder="Enter your id">

                            </div>
                            <div class="container">
                                <button class="btn btn primary">submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>